ui,li{
    list-style: none;
    padding: 0 !important;
}

.vpn-panel-content{
    width: 360px;
    height: 440px;
}


.vpn-panel-content .top {
    width: 100%;
    height: 92px;
    background: #0169C2;
}

.vpn-panel-content .panel-content {
    width: 332px;
    height: 108px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: -54px auto 0 auto;
    border: 1px solid #efefef;
    display: flex;
    padding: 24px 23px;
    box-sizing: border-box;
}


.vpn-panel-content .panel-content .logo{
    background: url('../assets/vpn_panel_logo.png') no-repeat;
    background-size: 100% 100%;
    width: 60px;
    height: 60px; 
    margin-right: 15px;
}

.vpn-panel-content .panel-content .connect-info{
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #333333;
    margin-top: 11px;
}

.vpn-panel-content .panel-content .connect-info .unselect{
    width: 90px;
    height: 28px;
    line-height: 28px;
    background: linear-gradient(254deg, #00AAE5 0%, #0069C2 100%);
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 2px;
    cursor: pointer;
}

.vpn-panel-content .panel-content .connect-info .node{
    display: flex;
    height: 20px;
    line-height: 20px;
    margin-top: 6px;
    display: none;
    cursor: pointer;
}

.vpn-panel-content .panel-content .connect-info .node .name{
    display: inline-block;
    margin-top: 0;
}

.vpn-panel-content .panel-content .connect-info .node .select-icon{
    background-image: url(../assets/select-icon.png);
    background-size: 100% 100%;
    width: 14px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
    transform: translate(6px, 2px);
}

.vpn-panel-content .panel-content .node-list-panel {
    width: 170px;
    /* height: 251px; */
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    position: absolute;
    border-radius: 5px;
    padding: 14px;
    display:none;
}

.vpn-panel-content .panel-content .node-list-panel > div{
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 700;
    color: #333333;
}
.vpn-panel-content .panel-content .node-list-panel ul{
    max-height: 250px;
    overflow-y: auto;
}

.vpn-panel-content .panel-content .node-list-panel ul li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    cursor: pointer;
    margin-bottom: 14px;
}
.vpn-panel-content .panel-content .node-list-panel ul li.selected {
    color: #2E87F7;
}

.vpn-panel-content .panel-content .connect-tips{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #03AAE5;
    margin-top: 6px;
}

.vpn-panel-content .panel-content .connect-tips.selected{
    display: none;
}

.vpn-panel-content .panel-content .connect-tips.selecting {
    display: none;
}

.vpn-panel-content ul {
    padding: 0;
}

.vpn-panel-content .tips {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #FFF5E3;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FF4933;
    text-align: center;
    margin-top: 14px;
    visibility: hidden;
}

.vpn-panel-content .desc li {
    display: flex;
    justify-content: space-between;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    margin-top: 14px;
    padding: 0 24px;
}

.vpn-panel-content .desc li span{
    font-weight: 500;
    color: #333333;
}

.vpn-panel-content .logout-btn{
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #999999;
    line-height: 50px;
    text-align: center;
    margin: 40px auto 0 auto;
    cursor: pointer;
}